/* this file contains global style: style that could be applied to all html files
    please don't target element tag
    target class name instead
*/

.loginform {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    height: 350px;
    position: absolute;
    top: 35%;
    left: 50%;
    width: 30%;
    transform: translate(-50%, -50%);
    border-color: green;
    border-style: solid;
    border-radius: 25px;
}
.logindetails {
    color: black;
}
.loginfield {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 12px 20px;
    border-color: gray;
    border-radius: 10px;
    float: right;
}
.positionbtn {
    top: 35%;
    left: 50%;
}
.navbar-nav .nav-link {
    border-radius: 10px;
}

.navbar-nav .nav-link:hover {
    background-color: rgb(176, 230, 176);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*test login branch*/