button {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    display: block;
    margin-bottom: 10px;
}

.card {
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease, visibility 0.5s ease, opacity 0.5s ease; /* Transition opacity and transform */
    visibility: hidden; /* Initially hide cards */
    opacity: 0;
    transform: translateX(100%); /* Move cards to the right initially */
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.card.show {
    visibility: visible;
    opacity: 1;
    transform: translateX(0); /* Move cards to the left */
}


/* New CSS class to make the card disappear on the left side */
.card.left {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-100%);
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


img:not(#logo) {
    width: 200px;
    height: 200px;
}

li:not(.nav-item)::before {
    content: '\2713';
    color: green;
    font-size: 1.2em;
    margin-right: 10px;
}

ul:not(.navbar-nav) {
    list-style-type: none;
    padding: 0;
}

.navbar-nav .nav-link {
    border-radius: 10px;
}

.navbar-nav .nav-link:hover {
    background-color: rgb(176, 230, 176);
}

.container {
    display: flex;
    justify-content: space-around;
}

.card-inline {
    display: inline-block;
    text-align: center;
    width: 22%;
    border: solid rgb(216, 207, 207);
    border-radius: 10px;
    margin-bottom: 20px;
}

.card-inline:hover{
    border-color: green;
}


.modal-backdrop.show {
    background-color: rgba(129, 165, 129, 0.5); /* Adjust the background color and opacity */
}
.modal-backdrop {
    transition: opacity 0s ease; /* Add transition for opacity */
}
.modal-dialog {
    margin: auto;
    top: 20%;
}