.card {
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease, visibility 0.5s ease, opacity 0.5s ease; /* Transition opacity and transform */
    visibility: hidden; /* Initially hide cards */
    opacity: 0;
    transform: translateX(100%); /* Move cards to the right initially */
    margin-left: 37%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.card.show {
    visibility: visible;
    opacity: 1;
    transform: translateX(0); /* Move cards to the left */
}

/* New CSS class to make the card disappear on the left side */
.card.left {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-100%);
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.modal-backdrop.show {
    background-color: rgba(129, 165, 129, 0.5); /* Adjust the background color and opacity */
}
.modal-backdrop {
    transition: opacity 0s ease; /* Add transition for opacity */
}
.modal-dialog {
    margin: auto;
    top: 2%;
}

.message{
    position: absolute;
    top: 10%;
    left: 0;
    width: 100vw; /* Set width to 100% of viewport width */
    font-size: larger;
    font-weight: bolder;
    z-index: 9999;
    color: white;
}

.tranferPage{
    opacity: 0; /* Initially set opacity to 0 */
    transition: opacity 0.3s ease /* Add transition effect for opacity */
}

#oneTimeCodeVerificationDiv{
    margin: 10px;
}

#transferLoadingGif{
    display: none;
    position: absolute;
    bottom: 20%;
    left: 35%;
}

#verificationRequestDiv{
    text-align: center;
    display: none;
}

#oneTimeCodeVerificationDiv{
    text-align: center;
    display: none;
}

#verifySucessDiv{
    display: none;
}

#verifyFailedDiv{
    display:none;
}

.transfer-code-input{
    text-align: center;
}

.transfer-code-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}