.card {
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transition opacity and transform */
    opacity: 0; /* Initially hide cards */
    transform: translateX(100%); /* Move cards to the right initially */
    margin-left: 37%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.card.show {
    opacity: 1; /* Show cards */
    transform: translateX(0); /* Move cards to the left */
}

.card.right {
    transform: translateX(100%);
}

/* New CSS class to make the card disappear on the left side */
.card.left {
    opacity: 0;
    transform: translateX(-100%);
}

.card.hide{
    opacity: 0; /* Show cards */
    transform: translateX(-100%); /* Move cards to the left */
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.modal-backdrop.show {
    background-color: rgba(129, 165, 129, 0.5); /* Adjust the background color and opacity */
}
.modal-backdrop {
    transition: opacity 0s ease; /* Add transition for opacity */
}
.modal-dialog {
    margin: auto;
    top: 20%;
}