<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Commerce Bank</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="/css/commercestyle.css">
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="images/CommerceBankLogo.png" alt="Logo" width="165" height="40" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#" style="text-decoration: underline; font-weight: bold;">Summary</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/transfer}">Transfer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/loans}">Loans</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/profile}">Profile</a>
            </li>
        </ul>
    </div>
    <form th:action="@{/logout}" method="get">
        <button class="btn btn-outline-success mx-3 my-0" type="submit">Logout</button>
    </form>
</nav>
<div th:if="${message}" class="bg-warning text-center message" id="messageDiv">
    [[${message}]]
</div>

<div class="container dashboard" id="dashboard">
    <div class="row justify-content-center">
        <div class="col-md-3"> <!-- Adjust the column size as needed -->
            <div class="card" id="accountInfoCard" >
                <div class="card-header bg-success text-white" style="font-weight: bold; text-align: center">
                    <h5>Account Information</h5>
                </div>
                <div class="card-body" style="margin-left: 7%">
                    <p th:text="'Customer: '+${session.account.getFirstName()}+' '+ ${session.account.getLastName()}+',' "></p>
                    <p th:text="'Account ID: '+${session.account.getAccID()}"></p>
                    <p>Routing number: 101000019</p>
                    <p>Account type: <em>mySpending Card</em></p>
                </div>
            </div>
            <div class="card" id="balanceCard" style="text-align: center;">
                <div class="card-header bg-success text-white" style="font-weight: bold;">
                    <h5>Current Balance</h5>
                </div>
                <div class="card-body" style="display: flex; flex-direction: column; justify-content: center;">
                    <p th:text="${#numbers.formatCurrency(session.account.getBalance())}" style="font-weight: bold; font-style: italic; font-size: 50px "></p>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="transaction-card card">
                <th:block
                        th:if="${session.filteredTransactions != null and not #lists.isEmpty(session.filteredTransactions)}">
                    <div class="card-title">
                        <h5 class="card-header bg-success text-white" th:text="'Filtered transactions: '+${session.dateRange}"></h5>
                    </div>
                    <div class="card-body">

                        <!-- Calculate the total number of pages -->
                        <th:block th:with="totalPages=${T(java.lang.Math).ceil(session.filteredTransactions.size / 7.0)}">

                            <!-- Display the transactions for the current page -->
                            <th:block
                                    th:each="trans : ${session.filteredTransactions.subList(7 * (session.currentPage - 1), (7 * session.currentPage > session.filteredTransactions.size) ? session.filteredTransactions.size : 7 * session.currentPage)}">
                                <div class="container mb-3 transaction">
                                    <div class="row">
                                        <div class="col-2" style="margin-left: 3%;">
                                            <div><em>ID:</em> <span th:text="${trans.transactionId}"></span></div>
                                        </div>
                                        <div class="col-2 text-md-end transaction-source">
                                            <span th:text="${trans.source}"></span>
                                        </div>
                                        <div class="col-1 text-center">
                                            <span><em>To</em></span>
                                        </div>
                                        <div class="col-2 transaction-destination">
                                            <span th:text="${trans.destination}"></span>
                                        </div>
                                        <div class="col-2 text-center transaction-amount">
                                            <span th:text="${#numbers.formatCurrency(trans.amount)}"></span>
                                        </div>
                                        <div class="col-2">
                                            <span><em>Date:</em></span> <span th:text="${trans.date}"></span>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </th:block>

<!--                            &lt;!&ndash; Add the "Next" and "Previous" buttons &ndash;&gt;-->
<!--                            <div style="margin-left: 70%;">-->
<!--                                <th:block th:if="${session.currentPage > 1}">-->
<!--                                    <form th:action="@{/previous}" method="post" style="display: inline-block">-->
<!--                                        <button class="btn btn-success " type="submit">Previous</button>-->
<!--                                    </form>-->
<!--                                </th:block>-->
<!--                                <th:block th:if="${session.currentPage < totalPages}">-->
<!--                                    <form th:action="@{/next}" method="post" style="display: inline-block">-->
<!--                                        <button class="btn btn-success " type="submit">Next</button>-->
<!--                                    </form>-->
<!--                                </th:block>-->
<!--                            </div>-->

                            <div style="text-align: right; margin-right: 7%">
                                <th:block th:if="${totalPages > 1}">
                                    <div th:each="pageNumber : ${#numbers.sequence(1, totalPages)}" style="display: inline-block">
                                        <form th:action="@{/setCurrentPage}" method="post">
                                            <input type="hidden" name="pageNumber" th:value="${pageNumber}" />
                                            <button class="btn btn-success" type="submit" th:text="${pageNumber}"></button>
                                        </form>
                                    </div>
                                </th:block>
                            </div>

                        </th:block>
                    </div>
                </th:block>

                <th:block
                        th:unless="${session.filteredTransactions != null and not #lists.isEmpty(session.filteredTransactions)}">
                    <div class="card-title">
                        <h5 class="card-header bg-success text-white">Recent transactions:</h5>
                    </div>
                    <div class="card-body">
                        <th:block th:each="trans, transStatus : ${session.account.transactionsList}"
                                  th:if="${transStatus.index >= transStatus.size-5}">
                            <div class="container mb-3 transaction">
                                <div class="row">
                                    <div class="col-2" style="margin-left: 3%">
                                        <div><em>ID:</em> <span th:text="${trans.transactionId}"></span></div>
                                    </div>
                                    <div class="col-2 text-md-end transaction-source">
                                        <span th:text="${trans.source}"></span>
                                    </div>
                                    <div class="col-1 text-center">
                                        <span><em>To</em></span>
                                    </div>
                                    <div class="col-2 transaction-destination">
                                        <span th:text="${trans.destination}"></span>
                                    </div>
                                    <div class="col-2 text-center transaction-amount">
                                        <span th:text="${#numbers.formatCurrency(trans.amount)}"></span>
                                    </div>
                                    <div class="col-2">
                                        <span><em>Date:</em></span> <span th:text="${trans.date}"></span>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </th:block>
                    </div>
                </th:block>
            </div>
            <div class="text-center">
                <form action="/filterTransactions" method="post">
                    <label for="fromDate">From:</label>
                    <input type="date" id="fromDate" name="fromDate" onchange="setToDateMin()">

                    <label for="toDate">To:</label>
                    <input type="date" id="toDate" name="toDate">

                    <button class="btn btn-success " type="submit" id="filterApplyBtn">Apply</button>
                    <button class="btn btn-secondary" type="button" onclick="clearFilter()">Clear Filter</button>
                </form>
            </div>
        </div>
    </div>
    <div id="QAButtonContainer">
        <button class="btn btn-success" id="QAButton" onclick="toggleQAdiv()">Ask Question?</button>
        <p class="buttonDescription">Powered by OpenAI</p>
    </div>
    <div id="QAdiv">
        <button class="close-button" onclick="toggleQAdiv()">&times;</button>
        <form id="questionForm">
            <div class="row align-items-end">
                <div class="col-9">
                    <textarea class="form-control" id="question" rows="3" placeholder="Enter your question:"></textarea>
                </div>
                <div class="col-2">
<!--                    <button class="btn btn-success" type="submit" id="submitQuestionButton" style="border-radius: 50px; width: 50px; height: 50px; margin-top: 0px;"><img src="images/openai-icon.png" height="27px" width="27px" alt="openaiiconpng"></button>-->
<!--                    <button class="btn btn-success" type="submit" id="submitQuestionButton" style="border:none; background: transparent"><img src="images/openai-icon.png" height="50px" width="50px" alt="openaiiconpng"></button>-->
                    <button class="btn btn-success" type="submit" id="submitQuestionButton" style="background-image: url('/images/openai-icon.png'); height: 50px; width: 50px; border-radius: 50px; background-size: 90%; background-position: center; background-repeat: no-repeat"></button>
<!--                    <button class="btn btn-success" type="submit" id="submitQuestionButton" style="background-image: url('/images/openai-icon.png'); background-size: 90%; background-position: left; background-repeat: no-repeat">......Send</button>-->
                </div>
            </div>
        </form>
        <div class="mt-2" id="responseDiv" style="display: none">
            <img id="loadingGif" src="images/loading-symbol.gif" alt="Loading..." width="80px" height="80px" />
            <textarea class="form-control" id="response" rows="7"></textarea>
        </div>
    </div>
</div>




<!--<div class="container">-->
<!--    <div class="row justify-content-center">-->
<!--        <div class="col-md-3"> &lt;!&ndash; Adjust the column size as needed &ndash;&gt;-->
<!--            <div class="card" id="accountInfoCard" >-->
<!--                <div class="card-header bg-success text-white" style="font-weight: bold; text-align: center">-->
<!--                    <h5>Account Information</h5>-->
<!--                </div>-->
<!--                <div class="card-body" style="margin-left: 7%">-->
<!--                    <p th:text="'Customer: '+${session.account.getFirstName()}+' '+ ${session.account.getLastName()}+',' "></p>-->
<!--                    <p th:text="'Account ID: '+${session.account.getAccID()}"></p>-->
<!--                    <p>Routing number: 101000019</p>-->
<!--&lt;!&ndash;                    <p>Account type: <em>mySpending Card</em></p>&ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-md-3"> &lt;!&ndash; Adjust the column size as needed &ndash;&gt;-->
<!--            <div class="card" id="balanceCard" style="text-align: center;">-->
<!--                <div class="card-header bg-success text-white" style="font-weight: bold;">-->
<!--                    <h5>Current Balance</h5>-->
<!--                </div>-->
<!--                <div class="card-body" style="display: flex; flex-direction: column; justify-content: center;">-->
<!--                    <p th:text="${#numbers.formatCurrency(session.account.getBalance())}" style="font-weight: bold; font-style: italic; font-size: 50px "></p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--${#numbers.formatCurrency()-->

<!--<div class="text-center">-->
<!--    <form action="/filterTransactions" method="post">-->
<!--        <label for="fromDate">From:</label>-->
<!--        <input type="date" id="fromDate" name="fromDate" onchange="setToDateMin()">-->

<!--        <label for="toDate">To:</label>-->
<!--        <input type="date" id="toDate" name="toDate">-->

<!--        <button class="btn btn-success " type="submit" id="filterApplyBtn">Apply</button>-->
<!--        <button class="btn btn-secondary" type="button" onclick="clearFilter()">Clear Filter</button>-->
<!--    </form>-->
<!--</div>-->


<!--<div class="transaction-card card">-->
<!--    <th:block-->
<!--            th:if="${session.filteredTransactions != null and not #lists.isEmpty(session.filteredTransactions)}">-->
<!--        <div class="card-title">-->
<!--            <h5 class="card-header bg-success text-white" th:text="'Filtered transactions: '+${session.dateRange}"></h5>-->
<!--        </div>-->
<!--        <div class="card-body">-->

<!--            &lt;!&ndash; Calculate the total number of pages &ndash;&gt;-->
<!--            <th:block th:with="totalPages=${T(java.lang.Math).ceil(session.filteredTransactions.size / 5.0)}">-->

<!--                &lt;!&ndash; Display the transactions for the current page &ndash;&gt;-->
<!--                <th:block-->
<!--                        th:each="trans : ${session.filteredTransactions.subList(5 * (session.currentPage - 1), (5 * session.currentPage > session.filteredTransactions.size) ? session.filteredTransactions.size : 5 * session.currentPage)}">-->
<!--                    <div class="container mb-3 transaction">-->
<!--                        <div class="row">-->
<!--                            <div class="col-2" style="margin-left: 5%;">-->
<!--                                <div><em>ID:</em> <span th:text="${trans.transactionId}"></span></div>-->
<!--                            </div>-->
<!--                            <div class="col-2 text-md-end transaction-source">-->
<!--                                <span th:text="${trans.source}"></span>-->
<!--                            </div>-->
<!--                            <div class="col-1 text-center">-->
<!--                                <span><em>To</em></span>-->
<!--                            </div>-->
<!--                            <div class="col-2 transaction-destination">-->
<!--                                <span th:text="${trans.destination}"></span>-->
<!--                            </div>-->
<!--                            <div class="col-2 text-center transaction-amount">-->
<!--                                <span th:text="${#numbers.formatCurrency(trans.amount)}"></span>-->
<!--                            </div>-->
<!--                            <div class="col-2">-->
<!--                                <span><em>Date:</em></span> <span th:text="${trans.date}"></span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <hr>-->
<!--                </th:block>-->

<!--                &lt;!&ndash; Add the "Next" and "Previous" buttons &ndash;&gt;-->
<!--                <div style="margin-left: 70%; margin-bottom: 20px">-->
<!--                    <th:block th:if="${session.currentPage > 1}">-->
<!--                        <form th:action="@{/previous}" method="post" style="display: inline-block">-->
<!--                            <button class="btn btn-success " type="submit">Previous</button>-->
<!--                        </form>-->
<!--                    </th:block>-->
<!--                    <th:block th:if="${session.currentPage < totalPages}">-->
<!--                        <form th:action="@{/next}" method="post" style="display: inline-block">-->
<!--                            <button class="btn btn-success " type="submit">Next</button>-->
<!--                        </form>-->
<!--                    </th:block>-->
<!--                </div>-->

<!--            </th:block>-->
<!--        </div>-->
<!--    </th:block>-->

<!--    <th:block-->
<!--            th:unless="${session.filteredTransactions != null and not #lists.isEmpty(session.filteredTransactions)}">-->
<!--        <div class="card-title">-->
<!--            <h5 class="card-header bg-success text-white">Recent transactions:</h5>-->
<!--        </div>-->
<!--        <div class="card-body">-->
<!--            <th:block th:each="trans, transStatus : ${session.account.transactionsList}"-->
<!--                      th:if="${transStatus.index >= transStatus.size-5}">-->
<!--                <div class="container mb-3 transaction">-->
<!--                    <div class="row">-->
<!--                        <div class="col-2" style="margin-left: 5%">-->
<!--                            <div><em>ID:</em> <span th:text="${trans.transactionId}"></span></div>-->
<!--                        </div>-->
<!--                        <div class="col-2 text-md-end transaction-source">-->
<!--                            <span th:text="${trans.source}"></span>-->
<!--                        </div>-->
<!--                        <div class="col-1 text-center">-->
<!--                            <span><em>To</em></span>-->
<!--                        </div>-->
<!--                        <div class="col-2 transaction-destination">-->
<!--                            <span th:text="${trans.destination}"></span>-->
<!--                        </div>-->
<!--                        <div class="col-2 text-center transaction-amount">-->
<!--                            <span th:text="${#numbers.formatCurrency(trans.amount)}"></span>-->
<!--                        </div>-->
<!--                        <div class="col-2">-->
<!--                            <span><em>Date:</em></span> <span th:text="${trans.date}"></span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <hr>-->
<!--            </th:block>-->
<!--        </div>-->
<!--    </th:block>-->
<!--</div>-->


<script>
    // Get all elements with the class 'transaction-source'
    var transactionSources = document.querySelectorAll('.transaction-source');
    var transactionDestinations = document.querySelectorAll('.transaction-destination');

    // Iterate through each element
    transactionSources.forEach(function (element) {
        var transaction = element.parentNode;
        var amountElement = transaction.querySelector('.transaction-amount');
        if (element.querySelector('span').textContent === 'My Account') {
            // Modify the style of the element
            element.style.color = 'blue';
            amountElement.style.color = 'red'
            amountElement.textContent = '- ' + amountElement.textContent
        } else {
            // Reset the style if the condition is not met
            element.style.color = 'grey';
            amountElement.textContent = '+ ' + amountElement.textContent
            amountElement.style.color = 'green'
        }
    });

    transactionDestinations.forEach(function (element) {
        if (element.querySelector('span').textContent === 'My Account') {
            // Modify the style of the element
            element.style.color = 'blue';
        } else {
            // Reset the style if the condition is not met
            element.style.color = 'grey';
        }
    })


    window.addEventListener('load', function() {
        // var accountInfoCard = document.getElementById('accountInfoCard');
        // var balanceCard = document.getElementById('balanceCard');
        // var firstCardHeight = accountInfoCard.offsetHeight;
        // balanceCard.style.height = firstCardHeight + 'px';
        document.getElementById('dashboard').style.opacity = 1
    });

    function setToDateMin() {
        var toDateInput = document.getElementById("toDate");
        var fromDateInput = document.getElementById("fromDate");
        toDateInput.min = fromDateInput.value;
        if (toDateInput.value < fromDateInput.value)
            toDateInput.value = '';
    }

    function clearFilter() {
        // Assuming you have a date input with id "fromDate"
        document.getElementById("fromDate").value = "";

        // Similarly, for a date input with id "toDate"
        document.getElementById("toDate").value = "";
        document.getElementById("filterApplyBtn").click();
    }

    //set time out for message div
    setTimeout(function () {
        document.getElementById('messageDiv').style.display = 'none';
    }, 5000); // 5000 milliseconds = 5 seconds


    //save window scroll position so that when the page is reloaded due to postmapping, the last position could be restored
    function saveScrollPosition() {
        sessionStorage.setItem('scrollPosition', window.scrollY);
    }

    // Function to restore scroll position from sessionStorage
    function restoreScrollPosition() {
        var scrollPosition = sessionStorage.getItem('scrollPosition');
        if (scrollPosition) {
            window.scrollTo({
                top: scrollPosition,
                behavior: 'instant'
            });
            sessionStorage.removeItem('scrollPosition');
        }
    }

    // Event listener to save scroll position before page reloads
    window.addEventListener('beforeunload', saveScrollPosition);

    // Event listener to restore scroll position after page reloads
    window.addEventListener('load', restoreScrollPosition);

    //QAdiv set up
    function toggleQAdiv(){
        var QAdiv = document.getElementById('QAdiv')
        var QAButtonContainer = document.getElementById('QAButtonContainer')
        if(QAdiv.style.display !== 'block'){
            QAdiv.style.display='block';
            QAButtonContainer.style.display='none';
        }
        else{
            QAdiv.style.display = 'none';
            QAButtonContainer.style.display='block';
        }
    }

    document.getElementById('questionForm').addEventListener('submit', function(event) {
        event.preventDefault();
        var question = document.getElementById('question').value;
        document.getElementById('responseDiv').style.display = 'block'
        document.getElementById('response').value = "Generating answer..."
        document.getElementById('loadingGif').style.display ='block';
        askQuestion(question);
    });

    document.getElementById('question').addEventListener('keydown', function(event) {
        // Check if Enter is pressed without the Shift key
        if (event.key === 'Enter' && !event.shiftKey) {
            event.preventDefault(); // Prevent the default behavior (inserting a newline)
            document.getElementById("submitQuestionButton").click(); // Submit the form
        }
    });


    function askQuestion(question) {
        document.getElementById('response').value = "";
        var response = "";
        var index = 0
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/ask', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                //document.getElementById('response').value = xhr.responseText;
                response = xhr.responseText;
                appendLetterByLetter(response,index);
            }
            // else {
            //     console.log("fail to generate")
            //     document.getElementById('response').value = "Fail to generate response";
            // }
            document.getElementById('loadingGif').style.display ='none';
        };
        //var data = JSON.stringify({question: question});
        xhr.send(question);
    }

    function appendLetterByLetter(response, index){
        if (index < response.length) {
            document.getElementById('response').value += response.charAt(index); // Append current letter
            setTimeout(() => appendLetterByLetter(response, index + 1), 10); // Wait 10ms then append next letter
        }
    }

</script>

</body>
</html>