<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Commerce Bank</title>
    <link rel="stylesheet" type="text/css" href="/css/commercestyle.css">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <style>
        label{
            color: white;
        }
    </style>
</head>
<body>
<div th:if="${message}" class="alert alert-success text-center">
    [[${message}]]
</div>
<div th:if="${error}" class="alert alert-danger text-center">
    [[${error}]]
</div>
<div class="loginform">
    <form method="post">
        <div class="container-fluid text-center">
            <label for="email"><b>Email</b></label>
            <input type="email" placeholder="Enter Email" name="email" id="email" th:value="${useremail}" required>
            <br><br>
            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" id="password" required>
            <br><br>
            <button type="submit" align="center">Login</button>
            <br><br>
            <label for="checkbox">Remember me</label>
            <input type="checkbox" value=true name="checkBoxRememberUser" id="checkbox" th:checked="${isChecked}">
            <br><br>
            <a th:href="@{/register}">Register</a>
        </div>
    </form>

    <form id="forgotPasswordForm" method="post" th:action="@{/resetpassword}">
        <div class="container-fluid text-center">
            <input type="hidden" name="emailToReset" id="emailToReset">
            <a href="#" onclick="submitForgotPasswordForm()">Forgot Password</a>
        </div>
    </form>
</div>

<script type="text/javascript">
    function requireEmailInput(){
        if(document.getElementById("email").value !== ''){
            document.getElementById("emailToReset").value = document.getElementById("email").value;
            return true;
        }
        else{
            alert("Please type in an email before clicking forgot password");
            return false;
        }
    }

    function submitForgotPasswordForm(){
        if(requireEmailInput())
            document.getElementById("forgotPasswordForm").submit();
    }
</script>

</body>
</html>