<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Multi-factor Authentication</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<style>
    .card {
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .code-input{
        font-size: 50px;
        text-align: center;
    }
</style>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="images/CommerceBankLogo.png" alt="Logo" width="165" height="40" class="d-inline-block align-text-top">
    </a>
    <div class="collapse navbar-collapse" id="navbarNav"></div>
    <button class="btn btn-outline-success mx-3 my-0" type="button">Help</button>
</nav>
<div class="card w-25 m-auto mt-5">
    <h5 class="card-header bg-success text-white text-center">Multi-factor Authentication</h5>
    <div class="card-body">
        <form th:action="@{/multifactorauth}" method="post">
            <div class="container-fluid text-center">
                <div class="mb-3">
<!--                    <input type="number" class="form-control" name="enteredCode" id="enteredCode" required>-->
<!--                    <label for="enteredCode">One-time code:</label>-->
                    <p>One-time code:</p>
                </div>
                <div class="row mb-3">
                    <div class="col-3">
                        <input type="text" maxlength="1" class="form-control code-input" id="digit1" name="digit1" oninput="checkCodeInput()" onkeyup="moveToNext(this, 'digit2')">
                    </div>
                    <div class="col-3">
                        <input type="text" maxlength="1" class="form-control code-input" id="digit2" name="digit2" oninput="checkCodeInput()" onkeyup="moveToNext(this, 'digit3')">
                    </div>
                    <div class="col-3">
                        <input type="text" maxlength="1" class="form-control code-input" id="digit3" name="digit3" oninput="checkCodeInput()" onkeyup="moveToNext(this, 'digit4')">
                    </div>
                    <div class="col-3">
                        <input type="text" maxlength="1" class="form-control code-input" id="digit4" name="digit4" oninput="checkCodeInput()" >
                    </div>
                </div>
                <input type="hidden" name="email" th:value="${email}">
                <button class="btn btn-success" type="submit" id="verifyButton" disabled>Verify</button>
            </div>
        </form>
    </div>
</div>
<p class="text-center mt-3">***An email has been sent to you with a one-time code***</p>
<script type="text/javascript">
    function moveToNext(currentInput, nextInputID) {
        var maxLength = parseInt(currentInput.getAttribute('maxlength'));
        var currentLength = currentInput.value.length;

        if (currentLength >= maxLength) {
            document.getElementById(nextInputID).focus();
        }
    }

    function checkCodeInput(){
        // Get all input elements
        var inputs = document.querySelectorAll('.code-input');
        var allFilled = true;

        // Check each input
        inputs.forEach(function(input) {
            if (input.value === '') {
                allFilled = false;
            }
        });

        // If all inputs are filled
        if (allFilled) {
            document.getElementById("verifyButton").disabled = false
        }else {
            document.getElementById("verifyButton").disabled = true
        }
    }
</script>

</body>
</html>
<!---->