<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<style>
    #passdiv:hover #tooltiptext{
        visibility: visible;
    }
    #tooltiptext{
        visibility: hidden;
    }
</style>
<body>
<form th:action="@{/multifactorauth}" method="post">
    <div class="container-fluid text-center">
        <div>
            <label class="text-primary" for="enteredCode"><b>One-time code: </b></label>
            <input type="number" name="enteredCode" id="enteredCode" required>
        </div>
        <input type="hidden" name="email" th:value="${email}">
        <button class="btn btn-primary" type="submit">Verify</button>
    </div>
</form>

<script type="text/javascript">

</script>

</body>
</html>
<!---->