<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Commerce Bank</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" type="text/css" href="/css/commercestyle.css">
  <style>
    .card {
      border-radius: 15px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  .checkboxes{
    width: 40px;
    height: 40px;
    accent-color: darkgreen;
  }



  </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="images/CommerceBankLogo.png" alt="Logo" width="165" height="40" class="d-inline-block align-text-top">
  </a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/dashboard}">Summary</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/transfer}">Transfer</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/loans}">Loans</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" style="text-decoration: underline; font-weight: bold;">Profile</a>
      </li>
    </ul>
  </div>
  <form th:action="@{/logout}" method="get">
    <button class="btn btn-outline-success mx-3 my-0" type="submit">Logout</button>
  </form>
</nav>

<!--new element start here-->
<div th:if="${message}" class="alert alert-success text-center">
  [[${message}]]
</div>
<div class="container" style="margin-left: 10%; margin-top: 3%">
  <div class="row">
    <div class="col">
      <div class="card w-100">
        <h5 th:text="${session.account.getFirstName()}+' '+ ${session.account.getLastName()}" style="text-align: center; margin-top: 10px"></h5>
        <div class="card-body" style="margin-left: 18%">
          <div class="row mb-3 align-items-start">
            <div class="col-2">
              <img src="images/profile/address-icon.png" class="img-fluid" alt="Icon 1" width="30px" height="30px">
            </div>
            <div class="col-3">
              <span>Address: </span>
            </div>
            <div class="col-6" id="addressDiv">
              <span th:text="${session.account.getAddress()}"></span>
              <button class="btn" onclick="showNewInputForm('addressDiv','newAddressDiv')">
                <img src="images/profile/edit-icon.png" width="20px" height="20px" alt="Button 1">
              </button>
            </div>
            <div class="col-6 " style="display: none" id="newAddressDiv">
              <!--   need to implement PostMapping -->
              <form>
                <div class="form-floating mb-3" >
                  <input type="text" class="form-control" id="newAddressInput" placeholder="name@example.com" required>
                  <label for="newAddressInput">New Address:</label>
                </div>
                <input type="hidden" name="email" th:value="${session.account.getEmail()}">
                <button class="btn btn-success" type="submit">Save</button>
                <button class="btn btn-secondary" onclick="cancelNewInputForm('addressDiv','newAddressDiv')">Cancel</button>
              </form>
            </div>
          </div>
          <div class="row mb-3  align-items-start">
            <div class="col-2">
              <img src="images/profile/phone-icon.png" class="img-fluid" alt="Icon 1" width="40px" height="40px">
            </div>
            <div class="col-3 ">
              <span>Phone Number: </span>
            </div>
            <div class="col-6" id="phoneNumberDiv">
              <span th:text="${session.account.getPhoneNumber()}"></span>
              <button class="btn" onclick="showNewInputForm('phoneNumberDiv','newPhoneNumberDiv')">
                <img src="images/profile/edit-icon.png" width="20px" height="20px" alt="Button 1">
              </button>
            </div>
            <div class="col-6 " style="display: none" id="newPhoneNumberDiv">
              <!--   need to implement PostMapping -->
              <form>
                <div class="form-floating mb-3" >
                  <input type="text" class="form-control" id="newPhoneNumberInput" placeholder="8161112222" required>
                  <label for="newPhoneNumberInput">New Phone Number:</label>
                </div>
                <input type="hidden" name="email" th:value="${session.account.getEmail()}">
                <button class="btn btn-success" type="submit">Save</button>
                <button class="btn btn-secondary" onclick="cancelNewInputForm('phoneNumberDiv','newPhoneNumberDiv')">Cancel</button>
              </form>
            </div>
          </div>
          <div class="row mb-3  align-items-start">
            <div class="col-2">
              <img src="images/profile/card-icon.png" class="img-fluid" alt="Icon 1" width="40px" height="40px">
            </div>
            <div class="col-3 ">
              <span>Card Number: </span>
            </div>
            <div class="col-6 ">
              <span th:text="${session.account.getCardNumber()}"></span>
            </div>
          </div>
          <div class="row mb-3  align-items-start">
            <div class="col-2">
              <img src="images/profile/reset-password-icon.png" class="img-fluid" alt="Icon 1" width="40px" height="40px">
            </div>
            <div class="col-3 ">
              <span>Reset Password: </span>
            </div>
            <div class="col-6 " id="passwordDiv">
              <span>*******************</span>
              <button class="btn" onclick="showNewInputForm('passwordDiv','newPasswordDiv')">
                <img src="images/profile/edit-icon.png" width="20px" height="20px" alt="Button 1">
              </button>
            </div>
            <div class="col-6 " style="display: none" id="newPasswordDiv">
<!--   need to implement PostMapping -->
              <form onsubmit="return checkPasswordMatch()">
                <div class="form-floating mb-3" >
                  <input type="password" class="form-control" id="newPasswordInput" placeholder="password" required>
                  <label for="newPasswordInput">New Password:</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="password" class="form-control" id="confirmPasswordInput" placeholder="password" required>
                  <label for="confirmPasswordInput">Confirm Password:</label>
                </div>
                <input type="hidden" name="email" th:value="${session.account.getEmail()}">
                <button class="btn btn-success" type="submit">Save</button>
                <button class="btn btn-secondary" onclick="cancelNewInputForm('passwordDiv','newPasswordDiv')">Cancel</button>
              </form>

            </div>
          </div>
        </div>
      </div>
      <div class="shadow mb-3 mt-3 bg-white rounded-4">
        <img class="rounded-4" src="images/profile/profile-ad1.jpg" width="100%" height="330px">
      </div>
      <div class="shadow mb-3 mt-3 bg-white rounded-4">
        <iframe class="rounded-4" width="100%" height="300" src="https://www.youtube.com/embed/vu9VEOXSCMQ?showinfo=0" allowfullscreen></iframe>
      </div>

    </div>

    <div class="col-md-6 mt-5">
      <form th:action="@{/saveProfileSettings}" method="post">
      <div class="card mb-3">
        <div class="card-body">
          <div class="row mb-3  align-items-center">
            <div class="col-2  ml-4">
              <img src="images/profile/multi-auth-icon.jpg" class="img-fluid" alt="Icon 1" width="80px" height="80px">
            </div>
            <div class="col md-auto ">
              <label for="isMultifactorAuth">Multi-factor Authentication</label>
            </div>
            <div class="col-3 ">
              <input type="checkbox" name="isMultifactorAuth" id="isMultifactorAuth" th:checked="${session.account.isMultifactorAuth()}" disabled class="checkboxes">
            </div>
          </div>
          <div class="row justify-content-center">
            <p> Along with the password, you will also receive a one-time code when logging in to enhance security.
            </p>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <div class="row mb-3  align-items-center">
            <div class="col-2  ml-4">
              <img src="images/profile/paperless-icon.jpg" class="img-fluid" alt="Icon 1" width="80px" height="80px">
            </div>
            <div class="col md-auto ">
              <label for="isPaperless">Paperless</label>
            </div>
            <div class="col-3 ">
              <input type="checkbox" name="isPaperless" id="isPaperless" th:checked="${session.account.isPaperless()}" disabled class="checkboxes">
            </div>
          </div>
          <div class="row justify-content-center">
            <p> Save the environment by utilizing electronic mails. No more wasted papers. No more mails lost.
            </p>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <div class="row mb-3  align-items-center">
            <div class="col-2  ml-4">
              <img src="images/profile/message-alert-icon.jpg" class="img-fluid" alt="Icon 1" width="80px" height="80px">
            </div>
            <div class="col md-auto ">
              <label for="isTextAlert">Text Alert</label>
            </div>
            <div class="col-3 ">
              <input type="checkbox" name="isTextAlert" id="isTextAlert" th:checked="${session.account.isTextAlert()}" disabled class="checkboxes">
            </div>
          </div>
          <div class="row justify-content-center">
            <p> Stay on top of your account's activities through text messages. Message and data rates may apply.
            </p>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <div class="row mb-3  align-items-center">
            <div class="col-2  ml-4">
              <img src="images/profile/email-alert-icon.jpg" class="img-fluid" alt="Icon 1" width="80px" height="80px">
            </div>
            <div class="col md-auto ">
              <label for="isEmailAlert">Email Alert</label>
            </div>
            <div class="col-3 ">
              <input type="checkbox" name="isEmailAlert" id="isEmailAlert" th:checked="${session.account.isEmailAlert()}" disabled class="checkboxes">
            </div>
          </div>
          <div class="row justify-content-center">
            <p> Stay on top of your account's activities through email messages. No cost to you.
            </p>
          </div>
        </div>
      </div>
      <div style="display: flex; justify-content: center; gap: 10px;">
        <button class="btn btn-secondary" type="submit" id="save">Save</button>
        <button class="btn btn-success" type="button" id="edit" onclick="enableCheckBox()">Edit</button>
      </div>
        <input type="hidden" name="email" th:value="${session.account.getEmail()}">
      </form>
    </div>
  </div>

</div>
<!--new element end here-->


<script type="text/javascript">
  function  enableCheckBox(){
    checkboxes = document.getElementsByClassName("checkboxes")
    for(let checkbox of checkboxes){
      checkbox.disabled = false;
    }
  }

  function toggleSaveEditButtonClass(){
    var saveButton = document.getElementById('save');
    var editButton = document.getElementById('edit');

    saveButton.classList.toggle('btn-success');
    saveButton.classList.toggle('btn-secondary');

    editButton.classList.toggle('btn-success');
    editButton.classList.toggle('btn-secondary');
  }

  document.getElementById('edit').addEventListener('click', toggleSaveEditButtonClass);
  function showNewInputForm(divId,newDivId){
    document.getElementById(divId).style.display = "none";
    document.getElementById(newDivId).style.display = "block";
  }

  function cancelNewInputForm(divId,newDivId){
    document.getElementById(divId).style.display = "block";
    document.getElementById(newDivId).style.display = "none";
  }

  function checkPasswordMatch(){
    var password = document.getElementById('newPasswordInput').value;
    var confirmPassword = document.getElementById('confirmPasswordInput').value;
    console.log(`password is ${password} confirm password is ${confirmPassword}`)
    if(password !== confirmPassword)
    {
      alert("Passwords do not match. Please try again!")
      return false;
    }
    else return true;
  }


</script>
</body>
</html>