<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Commerce Bank</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" type="text/css" href="/css/commercestyle.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="images/CommerceBankLogo.png" alt="Logo" width="165" height="40" class="d-inline-block align-text-top">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/dashboard}">Summary</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/transfer}">Transfer</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/loans}">Loans</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" style="text-decoration: underline; font-weight: bold;">Profile</a>
      </li>
    </ul>
  </div>
  <form th:action="@{/logout}" method="get">
    <button class="btn btn-outline-success mx-3 my-0" type="submit">Logout</button>
  </form>
</nav>

<div id="profile" style="margin-left: 40% ">
  <p th:text="${session.account.getFirstName()}+' '+ ${session.account.getLastName()}"></p>
  <p th:text="'Address: ' + ${session.account.getAddress()}"></p>
  <p th:text="'Phone number: ' + ${session.account.getPhoneNumber()}"></p>
  <p th:text="'Card Number: ' + ${session.account.getCardNumber()}"> </p>
  <a>Reset Password</a>

  <form th:action="@{/saveProfileSettings}" method="post">
    <div class="container-fluid">
      <div>
        <label for="isMultifactorAuth">Multi-factor Authentication</label>
        <input type="checkbox" name="isMultifactorAuth" id="isMultifactorAuth" th:checked="${session.account.isMultifactorAuth()}" disabled class="checkboxes">
      </div>
      <div>
        <label for="isPaperless">Paperless</label>
        <input type="checkbox" name="isPaperless" id="isPaperless" th:checked="${session.account.isPaperless()}" disabled class="checkboxes">
      </div>
      <div>
        <label for="isEmailAlert">Email Alert</label>
        <input type="checkbox" name="isEmailAlert" id="isEmailAlert" th:checked="${session.account.isEmailAlert()}" disabled class="checkboxes">
      </div>
      <div>
        <label for="isTextAlert">Text Alert</label>
        <input type="checkbox" name="isTextAlert" id="isTextAlert" th:checked="${session.account.isTextAlert()}" disabled class="checkboxes">
      </div>
    </div>
    <input type="hidden" name="email" th:value="${session.account.getEmail()}">
    <button class="btn btn-primary" type="submit" id="save">Save</button>
    <button class="btn btn-secondary" type="button" id="edit" onclick="enableCheckBox()">Edit</button>
  </form>
</div>

<div th:if="${message}" class="alert alert-success text-center">
  [[${message}]]
</div>

<script type="text/javascript">
  function  enableCheckBox(){
    checkboxes = document.getElementsByClassName("checkboxes")
    for(let checkbox of checkboxes){
      checkbox.disabled = false;
    }
  }

  function showTransfer(){
    window.location = "[[@{/transfer}]]";
  }
  function showSummary(){
    window.location = "[[@{/dashboard}]]";
  }


</script>
</body>
</html>