<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<style>
    #passdiv:hover #tooltiptext{
        visibility: visible;
    }
    #tooltiptext{
        visibility: hidden;
    }
</style>
<body>
<form th:action="@{/newpassword}" method="post" onsubmit="return validateForm()">
    <div class="container-fluid text-center">
        <div>
            <label class="text-primary" for="enteredCode"><b>One-time code: </b></label>
            <input type="number" name="enteredCode" id="enteredCode" required>
        </div>
        <div id="passdiv">
            <label for="newPassword">New Password:</label>
            <input type="password" id="newPassword" name="newPassword" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"><br>
            <span id="tooltiptext">Password must include one letter, one number and have minimum length of 8 characters</span>
        </div>
        <div>
            <label for="confirmPassword">Re-type New Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>
            <div id="passwordError" class="error-message"></div>
        </div>
        <input type="hidden" name="email" th:value="${email}">
        <button class="btn btn-primary" type="submit">Verify and Reset</button>
    </div>
</form>

<script type="text/javascript">
    function validateForm() {
        const newPassword = document.getElementById("newPassword").value;
        const confirmPassword = document.getElementById("confirmPassword").value;
        const passwordError = document.getElementById("passwordError");

        if (newPassword !== confirmPassword) {
            passwordError.textContent = "Passwords do not match";
            return false; // Prevent form submission
        } else {
            passwordError.textContent = "";
            return true; // Allow form submission
        }
    }
</script>

</body>
</html>
<!---->