<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Commerce Bank</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="/css/commercestyle.css">
    <link rel="stylesheet" type="text/css" href="/css/transfer.css">
    <link rel="stylesheet" type="text/css" href="/css/ai-chat.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="images/CommerceBankLogo.png" alt="Logo" width="165" height="40" class="d-inline-block align-text-top">
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/dashboard}">Summary</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" style="text-decoration: underline; font-weight: bold;">Transfer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/loans}">Loans</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/profile}">Profile</a>
            </li>
        </ul>
    </div>
    <form th:action="@{/logout}" method="get">
        <button class="btn btn-outline-success mx-3 my-0" type="submit">Logout</button>
    </form>
</nav>
<div class="tranferPage" id="transferPage" style="flex:1">
    <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href="#" onclick="activeTab(event,'transferCard')">Make Transfer</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" onclick="activeTab(event,'addExternalAccountCard')">Add External Account</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" onclick="activeTab(event,'verifyExternalCard')">Verify External Account</a>
        </li>
    </ul>

    <div th:if="${message}" class="bg-success text-center message" id="messageDiv">
        [[${message}]]
    </div>
    <div th:if="${error}" class="bg-danger text-center message" id="errorDiv" style=" z-index: 9999;">
        [[${error}]]
    </div>

    <div id="cardsHolder" style="height:400px">
        <div class="card w-25" id="transferCard">
            <h5 class="card-header bg-success text-white text-center">Transfer Details</h5>
            <div class="card-body">
                <form method="post" action="/makeTransaction" id="transferForm">
                    <div class="container-fluid">
                        <div class="form-group my-2">
                            <label for="source"><b>Source: </b></label>
                            <select class="form-select" name="source" id="source" required>
                                <option value="Select">Select</option>
                                <option th:value="'My Account - ' + ${#strings.substring(session.account.getAccID().toString(), session.account.getAccID().toString().length() - 4)}"
                                        th:text="'My Account - ' + ${#strings.substring(session.account.getAccID().toString(), session.account.getAccID().toString().length() - 4)}"></option>
                                <option th:each="exAcc : ${session.account.getExternalAccountsList()}"
                                        th:if="${exAcc.isActive()}"
                                        th:value="${exAcc.getBankName() +' - '+ #strings.substring(exAcc.getAccountNumber().toString(), exAcc.getAccountNumber().toString().length() - 4)}"
                                        th:text="${exAcc.getBankName() +' - ' + #strings.substring(exAcc.getAccountNumber().toString(), exAcc.getAccountNumber().toString().length() - 4)}"></option>
                            </select>
                        </div>
                        <div class="form-group my-2">
                            <label for="destination"><b>Destination: </b></label>
                            <select class="form-select" name="destination" id="destination" required>
                                <option value="Select">Select</option>
                                <option th:value="'My Account - ' + ${#strings.substring(session.account.getAccID().toString(), session.account.getAccID().toString().length() - 4)}"
                                        th:text="'My Account - ' + ${#strings.substring(session.account.getAccID().toString(), session.account.getAccID().toString().length() - 4)}"></option>
                                <option th:each="exAcc : ${session.account.getExternalAccountsList()}"
                                        th:if="${exAcc.isActive()}"
                                        th:value="${exAcc.getBankName() +' - '+ #strings.substring(exAcc.getAccountNumber().toString(), exAcc.getAccountNumber().toString().length() - 4)}"
                                        th:text="${exAcc.getBankName() +' - '+ #strings.substring(exAcc.getAccountNumber().toString(), exAcc.getAccountNumber().toString().length() - 4)}"></option>
                            </select>
                        </div>
                        <div>
                            <label for="amount"><b>Amount:</b></label>
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input class="form-control" aria-label="Amount (to the nearest dollar)" type="number" name="amount" id="amount" min="0" step="any" required>
                        </div>
                        <div class="form-group my-2">
                            <label for="memo"><b>Memo (optional): </b></label>
                            <input type="text" class="form-control" id="memo" name="memo" placeholder="What is this transfer for?">
                        </div>
                    </div>
                </form>
                <div class="d-flex justify-content-center mt-3">
                    <button  class="btn btn-success fs-4" onclick="showConfirmModal()">Send</button>
                </div>
            </div>
        </div>

        <div class="card w-25" id="addExternalAccountCard">
            <h5 class="card-header bg-success text-white text-center fs-5">External Account Details</h5>
            <div class="card-body">
                <form id="addExternalAccForm" method="post" action="/addExternalAccount" th:object="${exAcc}">
                    <div class="container-fluid">
                        <div class="form-group mb-3">
                            <label for="bankName"><b>Bank Name:</b> </label>
                            <input class="form-control" type="text" th:field="*{bankName}" name="bankName" id="bankName"
                                   required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="bankRoutingNumber"><b>Routing Number:</b> </label>
                            <input class="form-control" type="number" th:field="*{routingNumber}" name="bankRoutingNumber"
                                   id="bankRoutingNumber"
                                   required maxlength="9">
                        </div>
                        <div class="form-group mb-3">
                            <label for="accountNumber"><b>Account Number:</b> </label>
                            <input class="form-control" type="number" th:field="*{accountNumber}" name="accountNumber"
                                   id="accountNumber" required maxlength="12">
                        </div>
                    </div>
                </form>
                <div class="d-flex justify-content-center mt-3">
                    <button class="btn btn-success fs-4" onclick="showSendDepositsModal()">Add</button>
                </div>
            </div>
        </div>

        <div class="card w-25" id="verifyExternalCard">
            <h5 class="card-header bg-success text-white text-center">Verify Account</h5>
            <div class="card-body">
                <form method="post" action="/verifyExternalAccount" id="verifyForm" onsubmit="return validateVerifyForm()">
                    <div class="container-fluid">
                        <div class="form-group mb-3">
                            <label for="pendingAccount"><b>Pending Account: </b></label>
                            <select class="form-select" name="pendingAccount" id="pendingAccount" required>
                                <option value="Select">Select</option>
                                <option th:each="exAcc : ${session.account.getExternalAccountsList()}"
                                        th:if="${!exAcc.isActive()}"
                                        th:value="${exAcc.getExternalAccId()}"
                                        th:text="${exAcc.getAccountNumber()}+' (' +${exAcc.getBankName()}+')'"></option>
                            </select>
                        </div>
                        <div>
                            <label for="deposit1"><b>Deposit 1:</b></label>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$ 0.</span>
                            </div>
                            <input class="form-control" type="number" name="deposit1" id="deposit1" min="0" placeholder="Ex: 35" required>
                        </div>
                        <div>
                            <label for="deposit2"><b>Deposit 2:</b></label>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$ 0.</span>
                            </div>
                            <input class="form-control" type="number" name="deposit1" id="deposit2" min="0" placeholder="Ex: 65" required>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <button type="submit" class="btn btn-success fs-4">Verify</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <div class="container mb-5">
        <div id="QAButtonContainer">
            <div style="text-align: center; width: fit-content">
                <button class="btn bg-white border-success border-3" id="QAButton" onclick="toggleQAdiv()">Need help?</button><br>
                <span><b>Virtual Assistant</b></span><br>
                <span><i>Powered by OpenAI</i></span>
            </div>
        </div>
        <div id="QAdiv" class="border border-success">
            <div id="QAdiv-header" class="bg-success">
                Chat with us:
            </div>
            <button class="close-button text-white" onclick="showEndingMessage()" id="closeChatBtn">&#128473;&#xFE0E;</button>
            <button class="minimize-button text-white" onclick="toggleQAdiv()">&#128469;&#xFE0E;</button>
            <div id="closingMessage">
                <p>End this chat?</p>
                <button class="btn btn-success" onclick="showRatingMessage()">Yes</button>
                <button class="btn btn-secondary" onclick="cancelEndChat()">No</button>
            </div>
            <div id="thankYouMessage">
                <p>Thank you for using Virtual Assistant!</p>
                <p>This chat box will be automatically closed.</p>
                <img src="images/chatbot-thinking-bg-removed.gif" alt="Loading..." width="120px" height="120px"/>
            </div>
            <div id="ratingMessage">
                <p>How would you rate your experience?</p>
                <div class="bg-success rounded-2">
                    <i class='fa fa-star-o custom-icon' onclick="rate(1)" id="star1"></i>
                    <i class='fa fa-star-o custom-icon' onclick="rate(2)" id="star2"></i>
                    <i class='fa fa-star-o custom-icon' onclick="rate(3)" id="star3"></i>
                    <i class='fa fa-star-o custom-icon' onclick="rate(4)" id="star4"></i>
                    <i class='fa fa-star-o custom-icon' onclick="rate(5)" id="star5"></i>
                </div>
                <br>
                <button class="btn btn-success" onclick="endChat()">Submit</button>
                <button class="btn btn-secondary" onclick="endChat()">Skip</button>
            </div>
            <img id="loadingGif" src="images/chatbot-thinking-bg-removed.gif" alt="Loading..." width="120px" height="120px"/>
            <div id="conversationDiv">
            </div>
            <div class="row align-items-end" style="padding: 10px 20px 20px 20px">
                <div class="col-9">
                    <textarea class="form-control" id="question" rows="3" placeholder="Enter your question:"></textarea>
                </div>
                <div class="col-3">
                    <button class="btn btn-success" type="button" id="submitQuestionButton" onclick="writeAndSubmit()">Send</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Transfer Fund Confirmation</h5>
                </div>
                <div class="modal-body">
                    <p class="ms-5"><span style="font-style: italic">From:</span> <span style="font-weight: bold" id="fromSpan"></span></p>
                    <p class="ms-5"><span style="font-style: italic">To:</span> <span style="font-weight: bold" id="toSpan"></span></p>
                    <p class="ms-5"><span style="font-style: italic">Transfer Amount:</span> <span style="font-weight: bold" id="amountSpan"></span></p>
                    <p class="ms-5"><span style="font-style: italic">Transfer Date:</span> <span style="font-weight: bold" id="dateSpan"></span></p>
                    <div class="text-center">
                        <input type="checkbox" id="confirmCheckbox" style="transform: scale(1.5); margin-right: 5px">
                        <label for="confirmCheckbox">I confirmed that all details in this transfer is correct.</label>
                    </div>
                    <div id="verificationRequestDiv">
                        <hr>
                        <span>We need to verify if it was you who making this transfer. Please click "send code" to receive a one-time code.</span>
                        <a href="#" onclick="sendCode()">Send code</a>
                    </div>
                    <div id="oneTimeCodeVerificationDiv">
                        <div id="codeSentMessage" class="mt-3 ">
                            <hr>
                            <span>An email have been sent to you with a 4-digit code. Please enter the code and click Verify</span>
                        </div>
                        <div class="row mt-3 align-content-end mb-3">
                            <div class="col-2"></div>
                            <div class="col-6">
<!--                                <div class="form-floating">-->
<!--                                    <input type="number" class="form-control" name="enteredTransferCode" id="enteredTransferCode" required>-->
<!--                                    <label for="enteredTransferCode">Enter one-time code: </label>-->
<!--                                </div>-->
                                <div class="row">
                                    <div class="col">
                                        <input type="number" maxlength="1" class="form-control transfer-code-input" id="digit1" name="digit1" oninput="checkTransferCodeInput()" onkeyup="moveToNext(this, 'digit2')">
                                    </div>
                                    <div class="col">
                                        <input type="number" maxlength="1" class="form-control transfer-code-input" id="digit2" name="digit2" oninput="checkTransferCodeInput()" onkeyup="moveToNext(this, 'digit3')">
                                    </div>
                                    <div class="col">
                                        <input type="number" maxlength="1" class="form-control transfer-code-input" id="digit3" name="digit3" oninput="checkTransferCodeInput()" onkeyup="moveToNext(this, 'digit4')">
                                    </div>
                                    <div class="col">
                                        <input type="number" maxlength="1" class="form-control transfer-code-input" id="digit4" name="digit4" oninput="checkTransferCodeInput()" >
                                    </div>
                                </div>
                            </div>
                            <div class="col-1">
                                <button type="button" class="btn btn-success" onclick="verifyTransferCode()" id="transferCodeVerifyButton" disabled>Verify</button>
                            </div>
                        </div>
                        <div id="verifySucessDiv">
                            <img id="checkmarkGIf" src="images/transfer/checkmark.gif" alt="Loading..." width="80px" height="80px"/>
                            <span>Verify sucessfully. Ready to transfer.</span>
                        </div>
                        <div id="verifyFailedDiv">
                            <img id="xmarkGIf" src="images/transfer/X-mark.gif" alt="Loading..." width="80px" height="80px"/>
                            <span>One-code does not match. Aborting transfer...</span>
                        </div>
                    </div>
                    <img id="transferLoadingGif" src="images/loading-symbol.gif" alt="Loading..." width="160px" height="160px"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="modalCancelButton" onclick="resetConfirmationModal()">Cancel</button>
                    <button type="button" class="btn btn-success" id="modalConfirmButton" data-dismiss="modal" onclick="submitTransferForm()" disabled>Send</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="externalAccountModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel2">Verification Required</h5>
                </div>
                <div class="modal-body align-content-center">
                    <p>We need to verify your account before you can use it. Here are the steps:</p>
                    <ul style="list-style-type: none;">
                        <li>1. Commerce Bank will make two small deposits into your external account.</li>
                        <li>2. Check your external account within 2-3 days to identify the deposit amounts (will be less than $1)</li>
                        <li>3. Go to "Verify external account" tab and enter the amounts to verify your account.</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-success" id="sendDepositButton" data-dismiss="modal" onclick="submitExternalForm()">Send deposits</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-success">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-auto px-5">
        <div class="col-md-4 d-flex align-items-center">
            <span class="mb-3 mb-md-0 text-white">© 2024 Commerce Bank, Inc</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="nav-item">
                <a href="/features" class="nav-link px-2 text-white"
                   onmouseover="this.style.textDecoration='underline'"
                   onmouseleave="this.style.textDecoration='none'">Pages & Functionalities</a>
            </li>
        </ul>
    </footer>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script type="text/javascript">
    var enteredTransferCode = ""
    // const digit1 = document.getElementById("digit1")
    // const digit2 = document.getElementById("digit2")
    // const digit3 = document.getElementById("digit3")
    // const digit4 = document.getElementById("digit4")

    function moveToNext(currentInput, nextInputID) {
        var maxLength = parseInt(currentInput.getAttribute('maxlength'));
        var currentLength = currentInput.value.length;

        if (currentLength >= maxLength) {
            document.getElementById(nextInputID).focus();
        }
    }

    function checkTransferCodeInput(){
        // Get all input elements
        var inputs = document.querySelectorAll('.transfer-code-input');
        var allFilled = true;

        // Check each input
        inputs.forEach(function(input) {
            if (input.value === '') {
                allFilled = false;
            }
        });

        // If all inputs are filled
        if (allFilled) {
            enteredTransferCode =""
            document.getElementById("transferCodeVerifyButton").disabled = false
            inputs.forEach(function(input) {
                enteredTransferCode += input.value.toString();
            });
        }else {
            document.getElementById("transferCodeVerifyButton").disabled = true
        }
    }

    var confirmCheckbox = document.getElementById("confirmCheckbox");
    confirmCheckbox.addEventListener('change',function(event){
        if(confirmCheckbox.checked == true){
            document.getElementById("verificationRequestDiv").style.display = 'block'
        }else{
            document.getElementById("verificationRequestDiv").style.display = 'none'
        }
    })


    // Add event listener for keypress inside the form
    document.getElementById('transferForm').addEventListener('keypress', function(event) {
        // Check if the key pressed is Enter (key code 13)
        if (event.key === 'Enter') {
            // Prevent the default form submission
            event.preventDefault();
            showConfirmModal();
        }
    });

    function verifyTransferCode(){
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/verifyTransferCode', true); // Change to GET and the endpoint to '/fetch'
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                var data = xhr.responseText; // data is a list of string
                document.getElementById("transferLoadingGif").style.display='none';
                console.log(data)
                if(data==="verified"){
                    document.getElementById('modalConfirmButton').disabled = false;
                    document.getElementById('verifySucessDiv').style.display = 'block';
                }
                else{
                    document.getElementById('verifyFailedDiv').style.display = 'block';
                    setTimeout(() => {document.getElementById('modalCancelButton').click()},3000)
                }


            } else if (xhr.readyState === 4) {
                // Handle error here
                console.error(xhr.statusText);
            }
        }
        document.getElementById("transferLoadingGif").style.display='block';
        xhr.send(enteredTransferCode);
    }

    function sendCode(){
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/sendTransferCode', true); // Change to GET and the endpoint to '/fetch'
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                var data = xhr.responseText; // data is a list of string
                document.getElementById("transferLoadingGif").style.display='none';
                document.getElementById("oneTimeCodeVerificationDiv").style.display = 'block'
                console.log(data)
            } else if (xhr.readyState === 4) {
                // Handle error here
                console.error(xhr.statusText);
            }
        }
        document.getElementById("transferLoadingGif").style.display='block';
        xhr.send();
    }


    function submitTransferForm(){
        document.getElementById('transferForm').submit();
    }

    function activeTab(event,divid) {
        // Prevent the default behavior of the link
        event.preventDefault();

        // Get the clicked tab element
        var tabElement = event.target;

        // Remove the "active" class from all tab elements
        var tabElements = document.querySelectorAll('.nav-tabs .nav-link');
        tabElements.forEach(function(element) {
            element.classList.remove('active');
        });

        showcard(divid);
        // Add the "active" class to the clicked tab element
        tabElement.classList.add('active');
    }

    showcard('transferCard')  // show credit card at the beginning
    var currentCardId = 'transferCard' //initially
    function showcard(divid) {
        if(divid !== currentCardId){
            var cards = document.querySelectorAll('.card');
            cards.forEach(function(card) {
                if(card.id===currentCardId){
                    card.classList.add('left');   //move the current card to the left to hide. class list = ['left','show','card']
                    card.classList.remove('show'); // remove show state so that we add this class later make it show. class list = ['left','card']
                }
                else if(card.classList.contains('left')){
                    card.classList.remove('left'); // if the card is not the current one then return it to the original position on the right. class list =['card']
                }
            });
            var selectedCard = document.getElementById(divid);
            selectedCard.classList.add('show'); //show the card. class list =['show','card']
            currentCardId = divid; //update current card
        }
    }

    function showConfirmModal() {
        // Set the values in the modal
        sourceSelect = document.getElementById("source");
        document.getElementById("fromSpan").textContent = sourceSelect.options[sourceSelect.selectedIndex].textContent;
        destinationSelect = document.getElementById("destination");
        document.getElementById("toSpan").textContent = destinationSelect.options[destinationSelect.selectedIndex].textContent;
        document.getElementById("amountSpan").textContent = "$ " + document.getElementById("amount").value;

        // Get the current date
        var currentDate = new Date();
        var dateString = currentDate.getFullYear() + "-" + (currentDate.getMonth() + 1) + "-" + currentDate.getDate();
        document.getElementById("dateSpan").textContent = dateString;
        if(validateTransferForm()) {
            // Show the modal
            $('#confirmModal').modal('show');
        }
    }

    function resetConfirmationModal(){
        confirmCheckbox.checked = false;
        document.getElementById("verificationRequestDiv").style.display = 'none'
        document.getElementById("oneTimeCodeVerificationDiv").style.display ='none'
        document.getElementById("transferCodeVerifyButton").disabled=true
        document.getElementById("verifySucessDiv").style.display ='none'
        document.getElementById("verifyFailedDiv").style.display ='none'
        var inputs = document.querySelectorAll('.transfer-code-input');
        inputs.forEach(function(input) {
            input.value = ''
        });
    }

    function showSendDepositsModal(){
        var addExternalAccForm = document.getElementById("addExternalAccForm")
        if(addExternalAccForm.checkValidity())
            $('#externalAccountModal').modal('show');
        else{
            addExternalAccForm.reportValidity();
        }
    }

    function submitExternalForm(){
        document.getElementById("addExternalAccForm").submit();
    }


    function validateTransferForm(){
        var transferForm = document.getElementById("transferForm");
        var source = document.getElementById("source").value;
        var destination = document.getElementById("destination").value;
        if(source==="Select" || destination==="Select" || (!source.includes("My Account") && !destination.includes("My Account"))
            || source === destination){
            alert("Please select appropriate Destination and Source accounts and try again.")
            return false;
        }else if (!transferForm.checkValidity()){
            transferForm.reportValidity();
            return false;
        }else{
           return true;
        }
    }

    function validateVerifyForm(){
        var pendingAccount = document.getElementById("pendingAccount").value;
        if(pendingAccount === "Select"){
            alert("Please select one pending account and try again.")
            return false;
        }
        else return true;
    }

    //set time out for message div
    setTimeout(function() {
        document.getElementById('messageDiv').style.display = 'none';
    }, 5000); // 5000 milliseconds = 5 seconds

    setTimeout(function() {
        document.getElementById('errorDiv').style.display = 'none';
    }, 5000);

    window.addEventListener('load', function() {
        document.getElementById('transferPage').style.opacity = 1
    });

</script>
<script src="js/ai-chat-functions.js"></script>
</body>
</html>